*.class

# Package Files #
*.jar
*.war
*.ear
*/bin/*
*/target/*

.DS_Store
.metadata
RemoteSystemsTempFiles
*.sublime-project
*.sublime-workspace
*_.java
volt.log*
debugoutput
statement-plans
voltdb-symlink
*voltdb_crash*
*voltdbroot*